<h1>{{title}}</h1>

{{#if isEditing}}
  <div class="form-div">
    <form>
      <div class="form-control">
        <label class for="title">Title of Category</label>
        {{input value=title id="title" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="button-div">
    <button class="btn btn-success" {{action 'save'}}>Save</button>
  </div>

{{else}}

<p>{{title}}</p>

<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
<button class="btn btn-sm btn-danger" {{action 'delete'}}>DELETE</button>

{{/if}}

{{outlet}}

<h2>Items in Auction Lot</h2>
  <div class="thumbnails">
    <ul>
      {{#each item in items itemController="item"}}
        <li>
            {{#link-to 'item' this class="btn btn-success"}}
            {{item.text}}<br />
           ${{item.price}}<br />
           {{item.description}}<br />
              <img {{bind-attr src=item.image}} style="width: 100px; height:auto"><br />
              <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>

            {{/link-to}}
       </li>
      {{/each}}
    </ul>
  </div>
<br />

<p>{{#link-to 'new-item' this class="btn btn-success"}}New Item{{/link-to}}</p>
<div>
  <br />
  {{#link-to 'categories' classNames="btn btn-warning"}}See list of Auction Lots{{/link-to}}
</div>
