<h1>{{title}}</h1>

{{#if isEditing}}
  <div class="form-div">
    <form>
      <div class="form-control">
        <label class for="title">Title of Category</label>
        {{input value=title id="title" class="form-control"}}
      </div>
    </form>
  </div>
  <div class="button-div">
    <button class="btn btn-success" {{action 'save'}}>Save</button>
  </div>
  
{{else}}

<p>{{title}}</p>

<button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h2>Items in Auction Lot</h2>
{{#each item in items itemController="item"}}

<p>
  {{item.text}}
  <button class="btn btn-xs btn-danger" {{action 'delete'}}>delete</button>
</p>

{{/each}}

<p>{{#link-to 'new-item' this class="btn btn-success"}}New Item{{/link-to}}</p>
