<div class="row">
  <div class='col-md-12'>
    {{#each item in items itemController="item"}}
    <div class="item well row">
      <h3>{{item.text}}</h3>

      <div class='col-xs-3'>
        <figure class="well">
          <img {{bind-attr src=item.image}} style="width: 500px; height:auto">
          <figcaption>{{item.text}}</figcaption>
        </figure>
      </div>
    <div class="row">
      <div class='col-md-9'>
        <p>
          <span class="item-info">description: {{item.description}}</span><br>
        </p>
        <p>
          <span class="item-info">Bid Number# {{item.bidNumber}}</span><br>
        </p>
        <p>
          <span class="item-info">owner: {{item.owner}}</span><br>
        </p>
        <p>
          <span class="item-info">Year Acquired: {{item.yearAcquired}}</span><br>
        </p>
        <p>
          <span class="price">Starting Price: $ {{item.price}}</span><br>
        </p>
        <p>
          <span class="backstory">Backstory {{item.backstory}}</span><br>
        </p>
      </div>
    </div>
  </div>
      {{/each}}

    </div>
</div>
